footer.footer
  p keep #[span.heart ❤] coding


script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
script(src="https://use.fontawesome.com/c22a7ef303.js")
script(src="/assets/js/main.js")
