header.header__block(role='banner')

  h1(role="logo" alt="André Mendes")
    a(href="/").logo

  nav.navbar
    ul
      li
        a.navbar__link(href="/blog/" data-title="Blog") Blog
      li
        a.navbar__link(href="/projects/" data-title="Lab") Projects
      li
        a.navbar__link(href="#!" data-title="Contact") Contact
