header.header__block(role='banner')

  h1(role="logo")
    a(href="/").logo André Mendes

  nav.navbar
    ul
      li
        a.navbar__link(href="#about" data-title="About") About
      li
        a.navbar__link(href="/blog/" data-title="Blog") Blog
      li
        a.navbar__link(href="#!" data-title="Lab") Lab
      li
        a.navbar__link(href="#!" data-title="Contact") Contact

  div.social-medias
    span face github sasporra
