doctype
html


  head
    title André Mendes - Front-end Developer
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")

    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700" rel="stylesheet")

    link(rel='stylesheet' href='/assets/css/main.css')

