@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  20% {
    -webkit-transform: translate(-2px,2px);
    transform: translate(-2px,2px)
  }

  40% {
    -webkit-transform: translate(-2px,-2px);
    transform: translate(-2px,-2px)
  }

  60% {
    -webkit-transform: translate(2px,2px);
    transform: translate(2px,2px)
  }

  80% {
    -webkit-transform: translate(2px,-2px);
    transform: translate(2px,-2px)
  }

  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  1% {
    -webkit-transform: translate(-2px,2px);
    transform: translate(-2px,2px)
  }

  2% {
    -webkit-transform: translate(-2px,-2px);
    transform: translate(-2px,-2px)
  }

  3% {
    -webkit-transform: translate(2px,2px);
    transform: translate(2px,2px)
  }

  4% {
    -webkit-transform: translate(2px,-2px);
    transform: translate(2px,-2px)
  }

  5% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}



//Navbar
@-webkit-keyframes line-glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  20% {
    -webkit-transform: translate(-1px,1px);
    transform: translate(-1px,1px)
  }

  40% {
    -webkit-transform: translate(-1px,-1px);
    transform: translate(-1px,-1px)
  }

  60% {
    -webkit-transform: translate(1px,1px);
    transform: translate(1px,1px)
  }

  80% {
    -webkit-transform: translate(1px,-1px);
    transform: translate(1px,-1px)
  }

  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@keyframes line-glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  20% {
    -webkit-transform: translate(-1px,1px);
    transform: translate(-1px,1px)
  }

  40% {
    -webkit-transform: translate(-1px,-1px);
    transform: translate(-1px,-1px)
  }

  60% {
    -webkit-transform: translate(1px,1px);
    transform: translate(1px,1px)
  }

  80% {
    -webkit-transform: translate(1px,-1px);
    transform: translate(1px,-1px)
  }

  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@-webkit-keyframes blur-glitch {
  0% {
    -webkit-filter: blur(0);
    filter: blur(0)
  }

  50% {
    -webkit-filter: blur(.75px);
    filter: blur(.75px)
  }

  to {
    -webkit-filter: blur(0);
    filter: blur(0)
  }
}

@keyframes blur-glitch {
  0% {
    -webkit-filter: blur(0);
    filter: blur(0)
  }

  50% {
    -webkit-filter: blur(.75px);
    filter: blur(.75px)
  }

  to {
    -webkit-filter: blur(0);
    filter: blur(0)
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  50% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px)
  }

  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@keyframes float {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  50% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px)
  }

  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@-webkit-keyframes hide {
  0% {
    visibility: visible
  }

  2.5% {
    visibility: hidden
  }
}

@keyframes hide {
  0% {
    visibility: visible
  }

  2.5% {
    visibility: hidden
  }
}

@-webkit-keyframes grain {
  0%,to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  10% {
    -webkit-transform: translate(-5%,-10%);
    transform: translate(-5%,-10%)
  }

  20% {
    -webkit-transform: translate(-15%,5%);
    transform: translate(-15%,5%)
  }

  30% {
    -webkit-transform: translate(7%,-25%);
    transform: translate(7%,-25%)
  }

  40% {
    -webkit-transform: translate(21%,25%);
    transform: translate(21%,25%)
  }

  50% {
    -webkit-transform: translate(-25%,10%);
    transform: translate(-25%,10%)
  }

  60% {
    -webkit-transform: translate(15%,5%);
    transform: translate(15%,5%)
  }

  70% {
    -webkit-transform: translateY(15%);
    transform: translateY(15%)
  }

  80% {
    -webkit-transform: translate(25%,35%);
    transform: translate(25%,35%)
  }

  90% {
    -webkit-transform: translate(-10%,10%);
    transform: translate(-10%,10%)
  }
}

@keyframes grain {
  0%,to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  10% {
    -webkit-transform: translate(-5%,-10%);
    transform: translate(-5%,-10%)
  }

  20% {
    -webkit-transform: translate(-15%,5%);
    transform: translate(-15%,5%)
  }

  30% {
    -webkit-transform: translate(7%,-25%);
    transform: translate(7%,-25%)
  }

  40% {
    -webkit-transform: translate(21%,25%);
    transform: translate(21%,25%)
  }

  50% {
    -webkit-transform: translate(-25%,10%);
    transform: translate(-25%,10%)
  }

  60% {
    -webkit-transform: translate(15%,5%);
    transform: translate(15%,5%)
  }

  70% {
    -webkit-transform: translateY(15%);
    transform: translateY(15%)
  }

  80% {
    -webkit-transform: translate(25%,35%);
    transform: translate(25%,35%)
  }

  90% {
    -webkit-transform: translate(-10%,10%);
    transform: translate(-10%,10%)
  }
}

@-webkit-keyframes scale-in {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes scale-in {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes scale-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
  }
}

@keyframes scale-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
  }
}
