.header--block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 5%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  box-sizing: border-box;
}
.logo {
	margin: 0;
	color: #fff;
}


//sections
.section--block {
	width: 100%;
	margin: 0 auto;
	padding: 10% 15%;
	min-height: 100vh;
	box-sizing: border-box;
	position: relative;
}
.section--home {
	@extend .section--block;
  //background: $primary-color;
	background: url('../images/home-bg1.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section--about {
	@extend .section--block;
	background: linear-gradient(182deg, $primary-color, $secondary-color 90%);
	linear-gradient(182deg, $primary-color, $secondary-color 90%);
  //background: $secondary-color;
}


//helpers
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../images/overlay.png) repeat;
  pointer-events: none;
  display: block;
  opacity: .7;
  z-index: 2;
}





//Avatar
.avatar--block {
  width: 100%;
  max-width: 400px;
  min-height: 460px;
  margin-left: 60px;
  overflow: hidden;
  position: relative;
}
.avatar--img {
  display: inline-block;
  position: absolute;
  opacity: .7;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

//margins
.margin--top {
	margin-top: 45px;
}


//title
.title__large {
  font-family: 'Roboto Condensed', Times, Georgia, serif;
  font-size: 3.15rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 15%;
  margin-bottom: 0;
}

.caption {
	color: #fff;
	font-family: 'Roboto Condensed', Times, Georgia, serif;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

.section--title {
	position: absolute;
	top: 15%;
  right: 15%;
  text-align: left;
  max-width: 505px;

  span {
  	font-family: 'Playfair Display',Times,Georgia,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8.1428571429rem;
    line-height: 1;
    color: #fff;
    //margin-bottom: 40px;
    position: relative;
    z-index: 1;
    
    &:after, &:before {
    	content: attr(data-title);
		  position: absolute;
		  //top: 22px;
		  left: 0;
		  height: 100%;
		  width: 100%;
		  //visibility: hidden;
		  line-height: 1;
		  font-size: 8.1428571429rem;
    }
    &:after {
  	  -webkit-animation: glitch 4s cubic-bezier(.25,.46,.45,.94) reverse infinite;// hide 10s linear infinite
		  animation: glitch 4s cubic-bezier(.25, .46, .45, .94) reverse infinite;// hide 10s linear infinite
		  color: #f0f;
		  z-index: -1;
    }
    &:before {
    	-webkit-animation: glitch 4s cubic-bezier(.25,.46,.45,.94) infinite;// hide 10s linear infinite;
		  animation: glitch 4s cubic-bezier(.25, .46, .45, .94) infinite;// hide 10s linear infinite
			color: #0ff;
		  z-index: -2;
    }
  }
}

//subtitle
.subtitle {
  margin-left: 25%;
  color: #B0976D;
}

.flow-text {
	font-family: 'Roboto Mono',Times,Georgia,serif;
  margin-left: 25%;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}


//navbar
.navbar {
	li {
		display: inline-block;
	}
	
	.nav--link {
  	letter-spacing: 3.6px;
  	color: #fff;
  	text-transform: uppercase;
  	padding: 15px 0;
    margin: 0 15px;
  	position: relative;
  	text-decoration: none;
  	
  	&:after, &:before {
    	content: attr(data-title);
		  position: absolute;
		  left: 0;
		  height: 100%;
		  width: 100%;
    }
    &:hover:after {
  	  -webkit-animation: line-glitch .3s cubic-bezier(.25,.46,.45,.94) reverse infinite;// hide 10s linear infinite
		  animation: line-glitch .3s cubic-bezier(.25, .46, .45, .94) reverse infinite;// hide 10s linear infinite
		  color: #f0f;
		  z-index: -1;
    }
    &:hover:before {
    	-webkit-animation: line-glitch .3s cubic-bezier(.25,.46,.45,.94) infinite;// hide 10s linear infinite;
		  animation: line-glitch .3s cubic-bezier(.25, .46, .45, .94) infinite;// hide 10s linear infinite
			color: #0ff;
		  z-index: -2;
    }
  }
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: $primary-color;
}

//http://www.dogstudio.be/projects/dragone/

//http://www.kikk.be/2016/