doctype
html
!= partial("../_partials/head")

  body
    != partial("../_partials/header")


    - var postCount = 0
    if (current.source !== 'index' && public.blog._data)
      for post, slug in public.blog._data

        if slug == current.source

          //- Blog Post
          //- ===================
          article.blog(itemscope itemtype='http://schema.org/Blog' lang='pt-br')

            div.post__content(itemprop='text')
              header.post__header
                h1(itemprop='name') #{ post.title }

              != yield


        - postCount++;

    else
      != yield


    != partial("../_partials/footer")
