doctype
html
!= partial("../_partials/head")

  body
    != partial("../_partials/header")


    - var postCount = 0
    if (current.source !== 'index' && public.blog._data)
      for post, slug in public.blog._data

        if slug == current.source

          //- Blog list
          //- ===================
          div(class="container")

          h2: a(href="/blog/#{ slug }")= post.title
          != partial("blog/" + slug)

          p olar mezamigo

        - postCount++;

    else
      != yield


    != partial("../_partials/footer")
