/*
 * Avatar block
 * -------------------------------------------------- */
.avatar
  display flex
  align-items center
  +below(sm)
    flex-direction column

  /*
   * Picture
   * -------------------------------------------------- */
  &__img
    display inline-block
    border-radius 50%
    max-width 300px
    +above(md)
      margin-right 4rem
    +below(md)
      margin-bottom 4rem


  /*
   * Name
   * -------------------------------------------------- */
  &__name
    font(h1, primary-condensed, bold)
    color #fff
    margin-bottom 2rem


  /*
   * Subtitle
   * -------------------------------------------------- */
  &__subtitle
    // background-color #0c5fbf
    color darken($secondary-color, 50%)
    font(h3, primary-condensed, bold)


