.avatar__block
  display flex
  align-items center
  +below(sm)
    flex-direction column

.avatar__img
  display inline-block
  border-radius 50%
  max-width 300px

  +above(md)
    margin-right 4rem
  +below(md)
    margin-bottom 4rem

.avatar__subtitle
  color #B0976D
  font-size 3rem
  font-family $primary-font--condensed

.avatar__name
  font-family: 'Playfair Display SC',Times,Georgia,serif;
  font-weight: 400;
  font-size: 8rem;
  color: #fff;
  margin-bottom 2rem

