.footer
  font(text, primary)
  background-color $secondary-color--dark
  color #fff
  height 90px
  text-align center
  position relative
  display flex
  align-items center
  justify-content center
  diagonal(top, 50px)
  /*
   * Heart
   * -------------------------------------------------- */
  .heart
    color lighten(#FA4659, 30%)
    font-size: 1.7rem;


  /*
   * Vertical border
   * --------------------------------------------------
  &:before
    @extend $diagonal-style
    transform: skewY(-2deg)
    height 58px
    top -55px
    z-index -1
    +below(xs)
      top -20px*/
