.header__block
  //background-color $secondary-color--dark
  display flex
  justify-content space-around
  align-items center
  padding 20px 5%
  position fixed
  width 100%
  top 0
  z-index 10
  box-sizing border-box
