.about {
    background: url('../img/skills-bg.jpg') no-repeat scroll center center / cover;
}

.sec-overlay {
    background: rgba(255,255,255, .92);
    height: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
}

.title-content {
    letter-spacing: 1px;
    color: $secondary-color;
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    padding: 0 10%;
}

.description-container {
    padding: 60px 40% 60px 10%;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 30px;
    font-style: italic;
}
