.title-content {
    letter-spacing: 1px;
    color: #111;
    font-weight: bold;
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
    padding: 0 10%;
}

.description-container {
    padding: 60px 40% 60px 10%;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 30px;
    font-style: italic;
}
