.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../img/skills-bg.jpg') no-repeat scroll center center / cover;
}

.aboutme-description {
    height: 100vh;
    width: 50vw;
}

.description__title {
    color: $secondary-color;
    text-align: center;
    font-size: 100px;
    line-height: 80px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.description__text {
    width: 50vw;
    box-sizing: border-box;
    padding: 10%;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 30px;
    font-style: italic;
}

.image {
    background: url('../img/eu.jpg') center center no-repeat / cover;
    width: 50vw;
    height: 100vh;
}
