.intro {
  position: relative;
  padding: 50px 0 100px;
  z-index: 10;
  text-align: center;

  p {
    margin-bottom: 50px;
    font: 2.1428571429em $secondary-font, tahoma;
    opacity: 1;
  }

  .fa {
    margin: 0 0 30px;
    color: #FB544D;
  }
}


/* --------------------------------
 * Profile photo
 * ----------------------------- */
.site-photo,
.profile-photo {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin: 0 auto 30px;
  border-radius: 50%;
  box-sizing: border-box;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}





/* --------------------------------
 * Profile photo
 * ----------------------------- */
.heading {
  position: relative;
  text-align: center;
  margin: 0;

   h2 {
    margin-bottom: 10px;
  }

  .separator {
    margin-top: 0;
    margin-bottom: 0;
  }
}
