body {
  position: relative;
  background: #fff;
  font: 87.5%/1 $primary-color, serif;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  margin: 0 0 30px;
  font: 6.42857em / 1 $primary-font;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h1 .name {
  display: block;
  margin: 0 0 25px;
  font: 0.35714em / 1 $secondary-font, cursive;
  letter-spacing: 2px;
  text-transform: none;
}

h1 b {
  font-weight: normal;
}

h2 {
  margin: 0 0 30px;
  font: 4.28571em / 1.2 $primary-font;
  letter-spacing: 10px;
  text-transform: uppercase;
}

h2 a {
  text-decoration: none;
  color: currentColor;
}

h3 {
  margin: 0 0 30px;
  font: 1.78571em / 1.1 $secondary-font, cursive;
}

h3 a {
  text-decoration: none;
  color: currentColor;
}

h4 {
  margin: 0 0 10px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.container {
  max-width: 970px;
  margin: 0 auto;
}

.section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.section-bg__img {
  z-index: 5;
}

.section-bg__img:before {
  top: -151px;
}

.section-bg__img:after {
  bottom: -151px;
}

.section-bg__img .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 4;
}

.section-bg__img.section-bg__overlay {
  color: #fff;
}

.section-bg__img.section-bg__overlay .bg:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 32, 43, 0.7) url("../images/overlay.png");
  z-index: 5;
}

.section-bg__img.section-bg__img-dark {
  color: #fff;
}

.section-bg-dark .section-inner {
  background-color: #1C202B;
  color: #ffffff;
}

.section-bg-dark + .section-bg-dark .section-inner {
  padding-top: 0;
}

.section-bg-light .section-inner {
  background-color: #E4EBEE;
  color: #000000;
}

.section-bg-light + .section-bg-light .section-inner {
  padding-top: 0;
}

.content-box-dark {
  background-color: #1C202B;
  color: #ffffff;
}

.section-bg-dark .content-box-dark {
  background-color: #262b3a;
}

.content-box-light {
  background-color: #E4EBEE;
  color: #000000;
}

.section-bg-light .content-box-light {
  background-color: #d4dfe4;
}


.section-bg__img .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 4;
}

#intro {
  text-align: center;
  position: relative;
  height: 100vh
}

#intro .bg {
  background-image: url("../images/header-bg.jpg");
  background: -webkit-linear-gradient(240deg, #000000 , #434343);
  background: linear-gradient(240deg, #000000 , #434343);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
}


#intro #particles {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}








