main
  section.section__home
    h1.title__large welcome to my
      strong
        span.title--glitch(data-title="p") p
        span.title--glitch(data-title="l") l
        span.title--glitch(data-title="a") a
        span.title--glitch(data-title="y") y
        span.title--glitch(data-title="g") g
        span.title--glitch(data-title="r") r
        span.title--glitch(data-title="o") o
        span.title--glitch(data-title="u") u
        span.title--glitch(data-title="n") n
        span.title--glitch(data-title="d") d
    h2.caption Creative and unique Front-end developer


  section#about.section__about.section--top
    div.overlay
    div.avatar__block
      //-img.responsive-img.avatar--img(src="https://avatars3.githubusercontent.com/u/15808041" alt="André Mendes")

      div.section__title
        h1
          span(data-title="A") A
          span(data-title="n") n
          span(data-title="d") d
          span(data-title="r") r
          span(data-title="é") é
          br
          span(data-title="M") M
          span(data-title="e") e
          span(data-title="n") n
          span(data-title="d") d
          span(data-title="e") e
          span(data-title="s") s
        h2.subtitle Front End UI-Engineer
        p.flow-text
          A highly motivated guy, graduated in advertising with experience in Design
          and Development. I've worked with several larger and smaller brands and
          I am a fan of a good challenge and open source enthusiastic.
