.post__content
  font-family $primary-font
  padding 0 0 15rem 0


  // header
  .post__header
    height 100vh
    width 100%
    background lighten($secondary-color--light,15%)
    lost-align center


  // Titles
  h2,h3,h4,h5,h6
    margin 10rem auto 4rem
    max-width 80rem
    padding 0 1.5rem
    box-sizing border-box
    color lighten($secondary-color--light,15%)

  h1
    font-size 8rem
    color #fff
  h2
    font-size 4rem
    font-family 'Open Sans'
  h3
    font-size 3rem
    font-family 'Open Sans'
  h4
    font-size 2.5rem
  h5
    font-size 2.2rem
  h6
    font-size 2.1rem


  //Normal texts
  p
    width auto
    max-width 80rem
    margin 0 auto 3rem
    font-size 2.1rem
    line-height 2
    padding 0 1.5rem
    color $grey
    letter-spacing .01rem
    box-sizing border-box
    font-family 'Open Sans'


  // Code
  pre
    width 100%
    font-size 2rem
    padding 2.5rem 0;
    margin 10rem auto
    box-sizing: border-box;
    background #333e4b
    // background darken($grey-dark, 15%)

    code
      // color #a6e22e
      box-sizing border-box
      padding 0 1.5rem
      display block
      max-width 80rem
      margin 2rem auto
      line-height 1.5

  // Link
  a
    color $secondary-color--light
    transition all .2s
    text-decoration none
    box-shadow 0 1px 0 $secondary-color--light
    cursor pointer
    font-weight 700
    &:visited
      color $primary-color--light
      box-shadow-color $primary-color--light
      &:hover
        $primary-color--light
        box-shadow 0 3px 0 $primary-color--light

    &:hover
      box-shadow 0 3px 0 $secondary-color--light


  //blockquote
  blockquote
    max-width 85rem
    margin 6rem auto
    border-left 5px solid $secondary-color--light
    padding-left 3rem
    box-sizing border-box
    background lighten($grey-light, 45%)
    +below(md)
      margin 6rem .5rem
      padding-left 0rem


