.post__content
  font-family $primary-font
  padding 0 0 15rem 0


  /*
   * Post header
   * -------------------------------------------------- */
  .post__header
    padding-top 60px
    min-height 100vh
    width 100%
    background $secondary-color--light
    lost-align center


  /*
   * Titles
   * -------------------------------------------------- */
  h2,h3,h4,h5,h6
    margin 10rem auto 4rem
    max-width 80rem
    padding 0 1.5rem
    box-sizing border-box
    color $secondary-color

  h1
    font(h1, primary, bold)
    color #fff
  h2
    font(h2, opensans)
  h3
    font(h3, opensans)
  h4
    font(h4)
  h5
    font(h5)
  h6
    font(h6)


  /*
   * Normal text
   * -------------------------------------------------- */
  p
    width auto
    max-width 80rem
    margin 0 auto 3rem
    padding 0 1.5rem
    color $grey
    letter-spacing .01rem
    box-sizing border-box
    font(h6, opensans, regular)


  /*
   * Code
   * -------------------------------------------------- */
  pre
    width 100%
    font-size 2rem
    padding 2.5rem 0;
    margin 10rem auto
    box-sizing: border-box;
    background #333e4b
    // background darken($grey-dark, 15%)

    code
      box-sizing border-box
      display block
      padding 0 1.5rem
      max-width 80rem
      margin 2rem auto
      line-height 1.5

  /*
   * Link
   * -------------------------------------------------- */
  a
    box-shadow 0 1px 0 $secondary-color--light
    color lighten($secondary-color--light, 30%)
    cursor pointer
    transition all .2s
    text-decoration none
    &:visited
      color lighten($primary-color--light, 15%)
      box-shadow-color $primary-color--light
      &:hover
        color lighten($primary-color--light, 40%)
        box-shadow 0 3px 0 lighten($primary-color--light, 40%)

    &:hover
      box-shadow 0 3px 0 $secondary-color--light


  /*
   * Blockquote
   * -------------------------------------------------- */
  blockquote
    max-width 85rem
    margin 6rem auto
    border-left 5px solid $secondary-color--light
    padding-left 3rem
    box-sizing border-box
    background lighten($grey-light, 45%)
    +below(md)
      margin 6rem .5rem
      padding-left 0rem


