
// Section Home
//------------------------------------------
.section__home
  @extend $section__block
  //background url('../img/home-bg1.jpg') center
  //background-size cover
  //background-attachment fixed
  display flex
  justify-content center
  align-items center
  flex-direction column


// Section About
//------------------------------------------
.section__about
  @extend $section__block, $section--bottom
  background-color $secondary-color--dark
  display flex
  align-items center
  //background linear-gradient($primary-color 55%, $secondary-color)
