
// Section Home
//------------------------------------------
.section__home
  @extend $section__block
  background url('../img/home-bg1.jpg')
  background-size cover
  display flex
  justify-content center
  align-items center
  flex-direction column


// Section About
//------------------------------------------
.section__about
  @extend $section__block
  background-color $secondary-color
  //background linear-gradient($primary-color 55%, $secondary-color)
