code[class*="language-"],
pre[class*="language-"] {
  color: #fff;
  background: none;
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"] {
  padding: .15em .2em .05em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #708090;
}

.token.punctuation {
  opacity: .7;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #d1949e;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #cde87d;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f5b83d;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #e90;
}

pre[class*="language-css"] code {
  color: #ae81ff;
}

pre[class*="language-css"] .token.selector {
  color: #f92672;
}

pre[class*="language-css"] .token.property {
  color: #66d9ef;
}

pre[class*="language-css"] .token.punctuation {
  color: #fff;
}

pre[class*="language-html"] .token.tag {
  color: #f92672;
}

pre[class*="language-html"] .token.punctuation {
  color: #fff;
}

pre[class*="language-html"] .token.attr-name {
  color: #a6e22e;
}

pre[class*="language-html"] .token.attr-value {
  color: #f5b83d;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  color: #f00;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.btn--link {
  font-size: 1.6rem;
  font-family: 'Roboto Mono',Times,Georgia,serif;
  color: #052850;
  transition: all .2s;
  text-decoration: none;
}

.btn--link:hover {
  color: #09468c;
  box-shadow: 0 3px 0 #09468c;
}

html {
  font-size: 10px;
}

.section__home,
.section__about {
  width: 100%;
  margin: 0 auto;
  padding: 10% 15%;
  min-height: calc(100vh + 86px);
  box-sizing: border-box;
  position: relative;
}

.footer:before,
.section__about:after {
  content: '';
  background-color: #042244;
  display: block;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  outline: 1px solid transparent;
  transform: skewY(-3deg);
  transform-origin: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

.section__about {
  position: relative;
}

.section__about:after {
  bottom: 1px;
}

.section {
  padding: 10rem 1.5rem;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.title,
.title__home {
  font-family: 'Roboto Condensed',Times,Georgia,serif;
  color: #052850;
  text-align: center;
}

.title {
  font-size: 4rem;
  margin: 6rem 0 3rem;
  font-weight: 300;
}

.title__home {
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 15%;
  margin-bottom: 0;
}

.title--glitch span {
  font-style: normal;
  line-height: 1;
  color: #fff;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 1px #370e69;
}

.title--glitch span:after,
.title--glitch span:before {
  content: attr(data-glitch);
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  line-height: 1;
}

.title--glitch span:after {
  -webkit-animation: glitch 4s cubic-bezier(.25,.46,.45,.94) reverse infinite;
  animation: glitch 4s cubic-bezier(.25,.46,.45,.94) reverse infinite;
  color: #f0f;
  z-index: -1;
}

.title--glitch span:before {
  -webkit-animation: glitch 4s cubic-bezier(.25,.46,.45,.94) infinite;
  animation: glitch 4s cubic-bezier(.25,.46,.45,.94) infinite;
  color: #0ff;
  z-index: -2;
}

.caption {
  color: #370e69;
  font-family: 'Roboto Condensed',Times,Georgia,serif;
  font-size: 2.2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

.flow-text {
  font-family: 'Roboto Mono',Times,Georgia,serif;
  color: #fff;
  font-size: 1.6rem;
  line-height: 28px;
}

.date {
  font-size: 1.2rem;
  color: #1c1d21;
  font-weight: 700;
  font-family: 'Poppins',Arial;
}

.logo {
  text-decoration: none;
}

.logo:after {
  content: 'André Mendes';
  font-size: 2rem;
  font-family: 'Roboto Mono',Times,Georgia,serif;
  color: #8b98be;
  transition: all .2s;
}

.logo:hover:after {
  color: #370e69;
}

.blog__link {
  margin: 5rem 0;
  box-sizing: border-box;
  border: 1px solid #eee;
  max-width: 100%;
  display: block;
  border-radius: 5px;
  padding: 4.5rem 3rem;
  text-decoration: none;
  font-family: 'Roboto Mono',Times,Georgia,serif;
  transition: all .3s;
}

.blog__link:hover {
  border-color: #f6f0fd;
  box-shadow: 0 5px 10px #ede2fb;
  box-shadow: 0 5px 10px rgba(139,152,190,0.2);
}

.blog__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #052850;
  margin: 10px 0;
}

.blog__author {
  font-size: 1.6rem;
  margin-bottom: .5rem;
  color: #052850;
  opacity: 0;
  visibility: hidden;
}

.blog__text {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 400;
  color: #3a4750;
}

.navbar li {
  display: inline-block;
}

.navbar__link {
  letter-spacing: 3.6px;
  color: #052850;
  text-transform: uppercase;
  font-family: 'Roboto Mono',Times,Georgia,serif;
  margin: 0 15px;
  position: relative;
  text-decoration: none;
  transition: transform .2s ease-out;
  font-size: 1.5rem;
  font-weight: 300;
}

.navbar__link:after {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #052850;
  position: absolute;
  left: 0;
  transform: scale3d(0,1,1);
  transition: ease-out .3s;
  will-change: transform;
  bottom: -.5rem;
}

.navbar__link:hover:after {
  transform: scale3d(1,1,1);
}

.social-media {
  list-style: none;
  margin-top: 3rem;
  display: flex;
}

.social-media__link {
  font-size: 3rem;
  color: #fff;
  margin-right: 1.5rem;
}

.social-media__link:hover {
  color: #b0976d;
}

.avatar__block {
  display: flex;
  align-items: center;
}

.avatar__img {
  display: inline-block;
  border-radius: 50%;
  max-width: 300px;
}

.avatar__subtitle {
  color: #b0976d;
  font-size: 3rem;
  font-family: 'Roboto Condensed',Times,Georgia,serif;
}

.avatar__name {
  font-family: 'Playfair Display SC',Times,Georgia,serif;
  font-weight: 400;
  font-size: 8rem;
  color: #fff;
  margin-bottom: 2rem;
}

.footer {
  background-color: #042244;
  color: #fff;
  line-height: 90px;
  height: 90px;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Roboto Mono',Times,Georgia,serif;
  position: relative;
}

.footer .heart {
  color: #fa4659;
  font-size: 1.7rem;
}

.footer:before {
  transform: skewY(-2deg);
  height: 58px;
  top: -55px;
  z-index: -1;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(139,152,190,0.16),0 2px 10px 0 rgba(139,152,190,0.12);
  background: #fff;
}

.post__content {
  font-family: 'Roboto Mono',Times,Georgia,serif;
  padding: 15rem 0;
}

.post__content h1,
.post__content h2,
.post__content h3,
.post__content h4,
.post__content h5,
.post__content h6 {
  margin: 10rem auto 6rem;
  max-width: 90rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
  color: #0c5fbf;
}

.post__content h1 {
  font-size: 8rem;
}

.post__content h2 {
  font-size: 4rem;
  font-family: 'Open Sans';
}

.post__content h3 {
  font-size: 3rem;
}

.post__content h4 {
  font-size: 2.5rem;
}

.post__content h5 {
  font-size: 2.2rem;
}

.post__content h6 {
  font-size: 2.1rem;
}

.post__content p {
  width: auto;
  max-width: 90rem;
  margin: 0 auto 3rem;
  font-size: 2.1rem;
  line-height: 2;
  padding: 0 1.5rem;
  color: #3a4750;
  letter-spacing: .01rem;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

.post__content pre {
  width: 100%;
  font-size: 2rem;
  padding: 2.5rem 1.5rem;
  margin: 10rem auto;
  box-sizing: border-box;
  background: #333e4b;
  background: #18191c;
}

.post__content pre code {
  max-width: 85rem;
  box-sizing: border-box;
  margin: 2rem auto;
  display: block;
  line-height: 1.5;
}

.post__content a {
  color: #09468c;
  transition: all .2s;
  text-decoration: none;
  box-shadow: 0 1px 0 #09468c;
  cursor: pointer;
  font-weight: 700;
}

.post__content a:visited {
  color: #52159d;
}

.post__content a:hover {
  box-shadow: 0 3px 0 #09468c;
}

.post__content blockquote {
  max-width: 85rem;
  margin: 6rem auto;
  border-left: 5px solid #09468c;
  padding-left: 3rem;
  box-sizing: border-box;
  background: #f6f6f6;
}

.section__home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section__about {
  background-color: #042244;
  display: flex;
  align-items: center;
}

@media only screen and (min-width:990px) {
  .title__home {
    font-size: 7rem;
  }

  .avatar__img {
    margin-right: 4rem;
  }
}

@media only screen and (max-width:1199px) {
  .section__home,
  .section__about {
    padding: 15rem 2rem;
  }

  .title__home {
    font-size: 4rem;
  }

  .avatar__img {
    margin-bottom: 4rem;
  }

  .post__content blockquote {
    margin: 6rem .5rem;
    padding-left: 0;
  }
}

@media only screen and (max-width:989px) {
  .blog__link {
    padding: 4.5rem 1.5rem;
  }

  .social-media {
    justify-content: space-around;
  }

  .avatar__block {
    flex-direction: column;
  }
}

@media only screen and (max-width:759px) {
  html {
    font-size: 8px;
  }

  .logo:after {
    content: 'A.M.';
  }

  .navbar__link {
    margin: 0 10px;
    letter-spacing: 1.5px;
  }

  .footer:before {
    top: -20px;
  }
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}