html[style*='margin-right'] .main-nav {
  right: 17px;
}

.main-nav {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;

  nav {
    position: absolute;
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 230px;
    height: 100%;
    background: #1C202B;
    color: #ffffff;
    transition: 0.3s;
    -webkit-transform: translate(110%, 0);
        -ms-transform: translate(110%, 0);
            transform: translate(110%, 0);
  }

  //If nav is visible
  &.main-nav--visible {
    nav {
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
    transition-delay: 0.2s;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    }
    ul {
      transition-delay: 0.3s;
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    .btn-nav {
      top: 30px;
      left: -320px;
    }
  }
}

.main-nav nav ul {
  margin: 0;
  padding: 40px 0 0;
  list-style: none;
  font-weight: bold;
  font-style: italic;
  font-size: 0.8571428571em;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 1;
  transition: 0.6s;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.main-nav nav ul li {
  position: relative;
  padding: 0;
}

.main-nav nav ul li:before {
  content: '';
  position: absolute;
  left: 15px;
  top: 50%;
  width: 8px;
  height: 8px;
  margin: -6px 0 0;
  border: 2px solid currentColor;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
}

.main-nav nav ul li a {
  position: relative;
  display: block;
  padding: 10px 30px;
  color: currentColor;
  text-decoration: none;
  z-index: 5;
  transition: 0.3s;
}

.main-nav nav ul li:hover:before,
.main-nav nav ul li.current:before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.main-nav nav ul li:hover a,
.main-nav nav ul li.current a {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.main-nav nav ul li.current:before {
  background: currentColor;
}





/* ----------------------------
 * Btn nav and nav__vsible
 * ------------------------- */
.main-nav .btn-nav {
  position: absolute;
  left: -90px;
  top: 30px;
}

.btn-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 1.4285714286em;
  line-height: 56px;
  text-align: center;
  color: #FB544D;
  cursor: pointer;

  .fa {
    margin: 0;
  }
}


.btn-nav {
  overflow: hidden;
  transition: 0.3s;

  //Btn bars
  .line {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    margin: 0 0 0 -11px;
    background: currentColor;
    border-radius: 3px;
    -webkit-animation-name: nav-trigger;
            animation-name: nav-trigger;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    &:nth-child(1) {
      width: 22px;
      margin-top: -7px;
      -webkit-animation-delay: 5s;
              animation-delay: 5s;
    }
    &:nth-child(2) {
      width: 18px;
      margin-top: -1px;
      -webkit-animation-delay: 5.1s;
              animation-delay: 5.1s;
    }
    &:nth-child(3) {
      width: 14px;
      margin-top: 5px;
      -webkit-animation-delay: 5.2s;
              animation-delay: 5.2s;
    }
  }
}


.main-nav--visible .btn-nav .line {
  -webkit-animation: none;
          animation: none;
  width: 22px;
  margin-top: 0;
  transition: 0.3s;

  &:nth-child(1) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  &:nth-child(2) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  &:nth-child(3) {
    display: none;
  }
}
