header {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    padding: 0 20px;
    box-sizing: border-box;
    //background: $primary-color;
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    transition: all 0.4s;

    &.transformScroll {
        transform: translateY(-100%);
    }

    &.active {
        position: fixed;
        top: 0;
        background: $secondary-color;
        transform: translateY(0%);
    }
}

.header-title {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    height: $header-height;
    line-height: $header-height;
    margin: 0;
    padding-left: 5px;

    &:before {
        content: "\f121";
        font: normal normal normal 16px/1 FontAwesome;
        margin-right: 5px;
    }
}

.header-link {
    height: $header-height;
    line-height: $header-height;
    color: #fff;
    margin: 0 5px;
    font-size: 20px;
}

