.btn--link
  font-size: 1.6rem;
  font-family: $primary-font
  color $secondary-color
  transition all .2s
  text-decoration none
  &:hover
    color $secondary-color--light
    box-shadow 0 3px 0 $secondary-color--light

