/*
 * Button
 * -------------------------------------------------- */

$btn
  font(text, primary)
  box-shadow 0 1px 0
  cursor pointer
  transition all .2s
  text-decoration none


/*
 * Button link
 * -------------------------------------------------- */
.btn__link
  @extend $btn
  color $secondary-color
  box-shadow-color $secondary-color--light
  &:hover
    color $secondary-color--light
    box-shadow 0 3px 0 $secondary-color--light

  /*
   * Button link - LIGHT
   * -------------------------------------------------- */
  &--light
    @extend $btn
    box-shadow 0 1px 0 darken($secondary-color, 60%)
    color #fff
    &:hover
      box-shadow 0 3px 0 darken($secondary-color, 60%)


