html
  font-size 10px
  +below(xs)
    font-size 8px


body
  overflow-x hidden
  display flex
  flex-direction column

  main
    min-height calc(100vh - 90px)


.flex-grid
  display flex
  flex-wrap wrap
  +below(xs)
    flex-direction column





