.avatar__block
  display flex
  align-items center
  +below(sm)
    flex-direction column

.avatar__img
  display inline-block
  border-radius 50%
  max-width 300px

  +above(md)
    margin-right 4rem
  +below(md)
    margin-bottom 4rem



