
/*
 * Section Base
 * -------------------------------------------------- */
$section__block
  width 100%
  margin 0 auto
  padding 10% 15%
  min-height 100vh
  box-sizing border-box
  position relative
  +below(md)
    padding 15rem 2rem



/*
 * Diagonal style for sections top and bottom
 * -------------------------------------------------- */
$diagonal-style
  position absolute
  left 0
  right 0
  display block
  height 580px
  background-color $secondary-color--dark
  outline 1px solid transparent
  content ''
  z-index -1
  transform: skewY(-4deg)
  transform-origin 100%
  -webkit-transform-style preserve-3d
  -moz-transform-style preserve-3d



/*
 * Diagonal section start
 * -------------------------------------------------- */
$section--top
  position relative

  &:before
    @extend $diagonal-style
    top -78px
    // box-shadow: 0 -8px 9px 0 rgba(0,0,0,0.2),0 -6px 8px 0 rgba(0,0,0,0.19)



/*
 * Diagonal section end
 * -------------------------------------------------- */
$section--bottom
  position relative

  &:after
    @extend $diagonal-style
    bottom 1px
    // box-shadow: 0 8px 9px 0 rgba(0,0,0,0.2),0 6px 8px 0 rgba(0,0,0,0.19)



/*
 * Section container
 * -------------------------------------------------- */
.section
  padding: 10rem 1.5rem;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  box-sizing border-box



/* ------------------------------------------------- */
diagonal(direction = '', height = '')
  position relative

  &:before,
  &:after
    content ''
    position absolute


  // Top
  if (direction == top)
    margin-top (height)
    &:before
      top -(height)
      left 0
      border-bottom (height) solid $secondary-color--dark
      border-right 100vw solid transparent

  // Bottom
  if (direction == bottom)
    margin-bottom (height)
    &:before
      bottom -(height)
      left 0
      border-top (height) solid $secondary-color--dark
      border-left 100vw solid transparent



