
//title
$title
  font-family $primary-font--condensed
  color $secondary-color
  text-align center


.title
  @extend $title
  font-size 4rem
  margin 6rem 0 3rem
  font-weight 300


.title__home
  @extend $title
  font-weight 300
  text-transform uppercase
  margin-top 15%
  margin-bottom 0

  +above(md)
    font-size 7rem
  +below(md)
    font-size 4rem


.title--glitch span
  font-style normal
  line-height: 1
  color #fff
  position relative;
  z-index 1
  text-shadow 1px 1px 1px $primary-color

  &:after, &:before
    content attr(data-glitch)
    position absolute
    left 0
    height 100%
    width 100%
    line-height 1

  &:after
    -webkit-animation glitch 4s cubic-bezier(.25,.46,.45,.94) reverse infinite // hide 10s linear infinite
    animation glitch 4s cubic-bezier(.25, .46, .45, .94) reverse infinite // hide 10s linear infinite
    color #f0f
    z-index -1

  &:before
    -webkit-animation: glitch 4s cubic-bezier(.25,.46,.45,.94) infinite // hide 10s linear infinite;
    animation: glitch 4s cubic-bezier(.25, .46, .45, .94) infinite // hide 10s linear infinite
    color #0ff
    z-index -2


.caption
  color $primary-color
  font-family $primary-font--condensed
  font-size 2.2rem
  letter-spacing 0.2rem
  text-transform uppercase
  font-weight 300
  margin 0


.flow-text
  font-family $primary-font
  color #fff
  font-size 1.6rem
  line-height 28px



// Date
.date
  font-size 1.2rem
  color $grey-dark
  font-weight 700
  font-family $secondary-font



//Logo
.logo
  text-decoration none
  &:after
    content 'André Mendes'
    font-size 2rem
    font-family $primary-font
    color rgba(139,152,190,1)
    transition all .2s
    +below(xs)
      content 'A.M.'

  &:hover:after
      color $primary-color
