.navbar
  li
    display: inline-block;

  &__link
    letter-spacing 3.6px
    color $secondary-color
    text-transform uppercase
    font-family $primary-font
    margin 0 15px
    position relative
    text-decoration none
    transition transform .2s ease-out
    font-size 1.5rem
    font-weight 300

    &:after
      content " "
      width 100%
      height 2px
      background-color: $secondary-color
      position absolute
      left 0
      transform scale3d(0 , 1, 1)
      transition ease-out .3s
      will-change transform
      bottom -.5rem

    &:hover:after
      transform: scale3d(1 , 1, 1);






  // Hover
  //---------------
  // &:after, &:before
  //   content attr(data-title)
  //   position absolute
  //   left 0
  //   height 100%
  //   width 100%

  // &:hover:after
  //   -webkit-animation: line-glitch .3s cubic-bezier(.25,.46,.45,.94) reverse infinite;// hide 10s linear infinite
  //   animation: line-glitch .3s cubic-bezier(.25, .46, .45, .94) reverse infinite;// hide 10s linear infinite
  //   color #f0f
  //   z-index -1

  // &:hover:before
  //   -webkit-animation: line-glitch .3s cubic-bezier(.25,.46,.45,.94) infinite;// hide 10s linear infinite;
  //   animation: line-glitch .3s cubic-bezier(.25, .46, .45, .94) infinite;// hide 10s linear infinite
  //   color #0ff
  //   z-index -2
