@lost flexbox flex
@lost gutter 3rem


/*
 * Project Grid
 * -------------------------------------------------- */
.project-grid
  lost-flex-container row
  +below(xs)
    lost-flex-container column



/*
 * Project - Item
 * -------------------------------------------------- */
.project
  lost-column 1/3
  padding 1rem
  box-sizing border-box

  /*
   * Project Item - Title
   * -------------------------------------------------- */
  &__title
    font(text-large, primary)
    color $secondary-color--dark

  /*
   * Project Item - Picture
   * -------------------------------------------------- */
  &__picture
    width 100%
    margin 2rem 0
    display: block;

  /*
   * Project Item - Description
   * -------------------------------------------------- */
  &__description
    font(text, secondary)
    color $grey
    margin-bottom 2rem
