
@import 'bosons/**/*';         // Vendors
// @import 'atoms/**/*';           // Atoms
// @import 'molecules/**/*';       // Molecules
// @import 'organisms/**/*';       // Organisms
// @import 'pages/**/*';           // Pages



p
  color blue
  font-size 22px
  font-weight bold

.container
  width: 100%;
  margin 0 auto

body
  +above('md')
    background red

div
  +above('md')
    background blue

h1
  font-size 50px
